.track-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    column-gap: 5px;
    padding: 5px;
    padding-left: 200px;
    padding-right: 200px;
}

.album-art {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.title-container {
    font-size: 20px;
}

.play-button {
    width: 25%;
}

.center {
    display: block;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}