.track-container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    border: 1px solid grey;
    padding: 1px;
}

.album-art {
    height: 15%;
    width: 15%;
    vertical-align: middle;
}

.title-container {
    font-size: 20px;
}

.play-button {
    width: 50%;
    
}