.track-container {
    display: grid;
    align-items: center; 
    grid-template-columns: 100px 700px 1fr;
    column-gap: 5px;
    border: 1px solid grey;
    padding: 1px;
}

.album-art {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.title-container {
    font-size: 20px;
}

.play-button {
    width: 50%;
    float: right;
}